@import url("https://fonts.googleapis.com/css?family=Spartan:400,600,800&display=swap");

body {
  margin: 0;
  background-color: #eaebeb;
  font-family: Spartan, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}
